* {
    font-family: 'Bree Serif', serif;
    font-weight: 500;
    text-decoration: none;
}

body {
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#card {
    background-color: #222222;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.427);
    color: #FFFFFF;
    border-radius: 15px;
}

#card h1 {
    font-size: 30px;
    color: #E8E8E8;
}

#card p {
    font-size: 20px;
    margin-bottom: 40px;
    color: #CCCCCC;
}

#country {
    width: 270px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #303030;
    margin-left: 20px;
    margin-bottom: 20px;
    outline: none;
    color: #FFFFFF;
   text-indent: 5px;
   
}

#pais {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#botao {
    width: 270px;
    height: 35px;
    border: none;
    background-color: #ffffffe9; /* Nova cor do botão */
    margin-left: 20px;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#botao:hover {
    opacity: 0.9;
}

#msg {
    margin-top: 30px;
    color: #CCCCCC;
    font-size: 15px;
}
